<div style="text-align:center;max-width:400px;margin:30px auto">
  <div id="brand" class="courseprompt">
    <img id="logo" src="img/icons/icon-200.png">
    <h1 id="title" class="courseprompt">DCU Timetables</h1></span>
  </div>
  <form>
    <label class="courseprompt" for="coursecode">Select your programme id:</label>
    <select class="courseprompt" style="width: 50%" name="coursecode" ng-model="coursecode">
    <option value="ac1">ac1</option>
    <option value="ac2">ac2</option>
    <option value="ac3">ac3</option>
    <option value="ac4">ac4</option>
    <option value="af1">af1</option>
    <option value="af2">af2</option>
    <option value="af3">af3</option>
    <option value="alis1">alis1</option>
    <option value="alis2">alis2</option>
    <option value="amps1">amps1</option>
    <option value="ap1">ap1</option>
    <option value="ap2">ap2</option>
    <option value="ap3">ap3</option>
    <option value="ap4">ap4</option>
    <option value="as1">as1</option>
    <option value="as2">as2</option>
    <option value="as3">as3</option>
    <option value="as4">as4</option>
    <option value="att1">att1</option>
    <option value="att2">att2</option>
    <option value="att3">att3</option>
    <option value="att4">att4</option>
    <option value="bcl1">bcl1</option>
    <option value="bcl2">bcl2</option>
    <option value="bcl3">bcl3</option>
    <option value="bet2">bet2</option>
    <option value="bet3">bet3</option>
    <option value="bhs1">bhs1</option>
    <option value="bme4">bme4</option>
    <option value="bmed2">bmed2</option>
    <option value="bmed3">bmed3</option>
    <option value="bmed4">bmed4</option>
    <option value="bmedv5">bmedv5</option>
    <option value="bncg1">bncg1</option>
    <option value="bncg2">bncg2</option>
    <option value="bncg3">bncg3</option>
    <option value="bngn1">bngn1</option>
    <option value="bngn2">bngn2</option>
    <option value="bngn3">bngn3</option>
    <option value="bngn4">bngn4</option>
    <option value="bnid1">bnid1</option>
    <option value="bnid2">bnid2</option>
    <option value="bnid3">bnid3</option>
    <option value="bnid4">bnid4</option>
    <option value="bnpy1">bnpy1</option>
    <option value="bnpy2">bnpy2</option>
    <option value="bnpy3">bnpy3</option>
    <option value="bnpy4">bnpy4</option>
    <option value="bpy1">bpy1</option>
    <option value="bpy2">bpy2</option>
    <option value="bpy3">bpy3</option>
    <option value="bs1">bs1</option>
    <option value="bs2">bs2</option>
    <option value="bs3">bs3</option>
    <option value="bsi4">bsi4</option>
    <option value="bt1">bt1</option>
    <option value="bt2">bt2</option>
    <option value="bt3">bt3</option>
    <option value="bt4">bt4</option>
    <option value="ca1">ca1</option>
    <option value="cafm1">cafm1</option>
    <option value="cais4">cais4</option>
    <option value="cam2">cam2</option>
    <option value="cam3">cam3</option>
    <option value="cam4">cam4</option>
    <option value="case2">case2</option>
    <option value="case3">case3</option>
    <option value="case4">case4</option>
    <option value="ccs1">ccs1</option>
    <option value="ccs2">ccs2</option>
    <option value="ccs3">ccs3</option>
    <option value="cct1">cct1</option>
    <option value="cdm1">cdm1</option>
    <option value="ce1">ce1</option>
    <option value="ces1">ces1</option>
    <option value="cs1">cs1</option>
    <option value="cs2">cs2</option>
    <option value="cs3">cs3</option>
    <option value="dme2">dme2</option>
    <option value="dme3">dme3</option>
    <option value="dme4">dme4</option>
    <option value="dpsy1">dpsy1</option>
    <option value="ebf1">ebf1</option>
    <option value="ebf2">ebf2</option>
    <option value="ebf3">ebf3</option>
    <option value="ebf4">ebf4</option>
    <option value="ebg1">ebg1</option>
    <option value="ebg2">ebg2</option>
    <option value="ebg3">ebg3</option>
    <option value="ebg4">ebg4</option>
    <option value="ebs1">ebs1</option>
    <option value="ebs2">ebs2</option>
    <option value="ebs3">ebs3</option>
    <option value="ebs4">ebs4</option>
    <option value="ebt1">ebt1</option>
    <option value="ebt2">ebt2</option>
    <option value="ebt3">ebt3</option>
    <option value="ebt4">ebt4</option>
    <option value="ec1">ec1</option>
    <option value="ec2">ec2</option>
    <option value="ec3">ec3</option>
    <option value="ec4">ec4</option>
    <option value="ee1">ee1</option>
    <option value="ee2">ee2</option>
    <option value="ee3">ee3</option>
    <option value="ee4">ee4</option>
    <option value="englic1">englic1</option>
    <option value="englic2">englic2</option>
    <option value="englic3">englic3</option>
    <option value="epl1">epl1</option>
    <option value="epl2">epl2</option>
    <option value="epl3">epl3</option>
    <option value="eplya4">eplya4</option>
    <option value="esh1">esh1</option>
    <option value="esh2">esh2</option>
    <option value="esh3">esh3</option>
    <option value="esh4">esh4</option>
    <option value="et1">et1</option>
    <option value="et2">et2</option>
    <option value="et3">et3</option>
    <option value="fe1">fe1</option>
    <option value="fee1">fee1</option>
    <option value="fm2">fm2</option>
    <option value="fm3">fm3</option>
    <option value="fm4">fm4</option>
    <option value="gcb1">gcb1</option>
    <option value="gcb2">gcb2</option>
    <option value="gcb3">gcb3</option>
    <option value="gcb4">gcb4</option>
    <option value="gcstf1">gcstf1</option>
    <option value="gdalis1">gdalis1</option>
    <option value="gdbm1">gdbm1</option>
    <option value="gdf1">gdf1</option>
    <option value="gdf2">gdf2</option>
    <option value="gdsh2">gdsh2</option>
    <option value="gg1">gg1</option>
    <option value="gg2">gg2</option>
    <option value="gg3">gg3</option>
    <option value="gg4">gg4</option>
    <option value="gi1">gi1</option>
    <option value="gi2">gi2</option>
    <option value="gi3">gi3</option>
    <option value="hor1">hor1</option>
    <option value="iblc2">iblc2</option>
    <option value="iblc4">iblc4</option>
    <option value="ible2">ible2</option>
    <option value="iblfg4">iblfg4</option>
    <option value="iblfs4">iblfs4</option>
    <option value="iblgs2">iblgs2</option>
    <option value="iblgs4">iblgs4</option>
    <option value="iblj2">iblj2</option>
    <option value="iblj4">iblj4</option>
    <option value="ice2">ice2</option>
    <option value="ice3">ice3</option>
    <option value="ice4">ice4</option>
    <option value="ifcaf1">ifcaf1</option>
    <option value="ifcbcl1">ifcbcl1</option>
    <option value="ifcblj1">ifcblj1</option>
    <option value="ifcbs1">ifcbs1</option>
    <option value="ifcca1">ifcca1</option>
    <option value="ifcces1">ifcces1</option>
    <option value="ifcepl1">ifcepl1</option>
    <option value="ifcir1">ifcir1</option>
    <option value="ifclce1">ifclce1</option>
    <option value="ifcmme1">ifcmme1</option>
    <option value="ifpbm1">ifpbm1</option>
    <option value="ifpbmd1">ifpbmd1</option>
    <option value="ifpes1">ifpes1</option>
    <option value="ifpfim1">ifpfim1</option>
    <option value="ifpis1">ifpis1</option>
    <option value="ifpsir1">ifpsir1</option>
    <option value="ifpte1">ifpte1</option>
    <option value="ir1">ir1</option>
    <option value="ir2">ir2</option>
    <option value="ir3">ir3</option>
    <option value="jr1">jr1</option>
    <option value="jr2">jr2</option>
    <option value="jr3">jr3</option>
    <option value="macl1">macl1</option>
    <option value="maj1">maj1</option>
    <option value="map1">map1</option>
    <option value="mass1">mass1</option>
    <option value="mba1">mba1</option>
    <option value="mba2">mba2</option>
    <option value="mbd1">mbd1</option>
    <option value="mbs1">mbs1</option>
    <option value="mcpa1">mcpa1</option>
    <option value="mdev1">mdev1</option>
    <option value="me2">me2</option>
    <option value="me3">me3</option>
    <option value="me4">me4</option>
    <option value="mecb1">mecb1</option>
    <option value="mect1">mect1</option>
    <option value="mfcm1">mfcm1</option>
    <option value="mfm1">mfm1</option>
    <option value="mgc1">mgc1</option>
    <option value="mgc2">mgc2</option>
    <option value="mgte1">mgte1</option>
    <option value="mhrm1">mhrm1</option>
    <option value="min1">min1</option>
    <option value="mint1">mint1</option>
    <option value="mint2">mint2</option>
    <option value="mint4">mint4</option>
    <option value="mir1">mir1</option>
    <option value="mir2">mir2</option>
    <option value="misc1">misc1</option>
    <option value="mitb1">mitb1</option>
    <option value="mitb2">mitb2</option>
    <option value="mma1">mma1</option>
    <option value="mma2">mma2</option>
    <option value="mma3">mma3</option>
    <option value="mmk1">mmk1</option>
    <option value="mmm1">mmm1</option>
    <option value="mocld1">mocld1</option>
    <option value="mpo2">mpo2</option>
    <option value="msbe1">msbe1</option>
    <option value="msc1">msc1</option>
    <option value="msc2">msc2</option>
    <option value="mse2">mse2</option>
    <option value="msob2">msob2</option>
    <option value="msp1">msp1</option>
    <option value="mssf1">mssf1</option>
    <option value="mssf2">mssf2</option>
    <option value="mts1">mts1</option>
    <option value="mtv1">mtv1</option>
    <option value="mtv2">mtv2</option>
    <option value="pbm1">pbm1</option>
    <option value="pbm2">pbm2</option>
    <option value="pbm3">pbm3</option>
    <option value="pbm4">pbm4</option>
    <option value="pda1">pda1</option>
    <option value="pde1">pde1</option>
    <option value="pdpb1">pdpb1</option>
    <option value="peb1">peb1</option>
    <option value="peb2">peb2</option>
    <option value="peb3">peb3</option>
    <option value="peb4">peb4</option>
    <option value="pg4">pg4</option>
    <option value="pha1">pha1</option>
    <option value="pha2">pha2</option>
    <option value="pha3">pha3</option>
    <option value="pha4">pha4</option>
    <option value="se1">se1</option>
    <option value="se2">se2</option>
    <option value="se3">se3</option>
    <option value="se4">se4</option>
    <option value="ssh1">ssh1</option>
    <option value="ssh2">ssh2</option>
    <option value="ssh3">ssh3</option>
    <option value="ssh4">ssh4</option>
    </select>
    <button class="courseprompt" style="width: 50%" ng-click="getTimetable()">Get Timetable</button>
  </form>
  <a href="#!/credits">credits</a>
</div>
