<header role="banner" class="page-head" ng-show="!showLoader" >
  <nav role="navigation">
    <a href="#!/" class="button-left"><button><i class="icon-home">Home</i></button></a></a>
    <h1 id="title">DCU Timetables</h1>
  </nav>
</header>

<div id="wrapper" role="main">
  <div id="scroller">
    <div class="content">
      <h2>What is DCUTT</h2>
      <p>DCUTT supplies a nicely formatted version of Dublin City University programme timetables that are optimized for viewing on a mobile screen.</p>
      <p>If you are an Android user you can download our application on the <a href="https://play.google.com/store/apps/details?id=com.dcutt.android">Google Play</a></p>
      <p>If you are a iOS user check out <a href="http://www.youtube.com/v/p3UlugY_QqE">this youtube video</a> to see how to add DCUTT to your home screen</p>
      <h2>How does it work?</h2>
      <p>On a weekly bases our system pulls the iCal versions of the timetables from Dublin City University servers. It parses them and outputs them in a format that your device can quickly extract information from</p>
      <h2>Who made it?</h2>
      <p>The application was created by <a href="http://ianduffy.ie">Ian Duffy</a> and <a href="http://benchapman.ie">Ben Chapman</a></p>
      <p>However we also make use of the following open source projects: <a href="http://zeptojs.com/">ZeptoJS</a>, <a href="https://github.com/ftlabs/fastclick">FastClick</a>, <a href="http://cubiq.org/iscroll">iScroll</a>, <a href="http://momentjs.com/">MomentJS</a> and <a href="http://angularjs.org/">AngularJS</a></p>
    </div>
  </div>
</div>
